

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/Regular/eot/IRANSansWeb_Bold.eot');
	src: url('../fonts/Regular/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/Regular/woff2/IRANSansWeb_Bold.woff2') format('woff2'),   /*FF39+,Chrome36+, Opera24+*/
		 url('../fonts/Regular/woff/IRANSansWeb_Bold.woff') format('woff'),   /*FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/Regular/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/Regular/eot/IRANSansWeb_Medium.eot');
	src: url('../fonts/Regular/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/Regular/woff2/IRANSansWeb_Medium.woff2') format('woff2'),   /*FF39+,Chrome36+, Opera24+*/
		 url('../fonts/Regular/woff/IRANSansWeb_Medium.woff') format('woff'),   /*FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/Regular/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/Regular/eot/IRANSansWeb_Light.eot');
	src: url('../fonts/Regular/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/Regular/woff2/IRANSansWeb_Light.woff2') format('woff2'),   /*FF39+,Chrome36+, Opera24+*/
		 url('../fonts/Regular/woff/IRANSansWeb_Light.woff') format('woff'),   /*FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/Regular/ttf/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src: url('../fonts/Regular/eot/IRANSansWeb_UltraLight.eot');
	src: url('../fonts/Regular/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/Regular/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),   /*FF39+,Chrome36+, Opera24+*/
		 url('../fonts/Regular/woff/IRANSansWeb_UltraLight.woff') format('woff'),   /*FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/Regular/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Regular/eot/IRANSansWeb.eot');
	src: url('../fonts/Regular/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/Regular/woff2/IRANSansWeb.woff2') format('woff2'),   /*FF39+,Chrome36+, Opera24+*/
		 url('../fonts/Regular/woff/IRANSansWeb.woff') format('woff'),   /*FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/Regular/ttf/IRANSansWeb.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/eot/iranyekanwebbold(fanum).eot');
	src: url('../fonts/eot/iranyekanwebbold(fanum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/iranyekanwebbold(fanum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/iranyekanwebbold(fanum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/iranyekanwebbold(fanum).ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/eot/iranyekanweblight(fanum).eot');
	src: url('../fonts/eot/iranyekanweblight(fanum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/iranyekanweblight(fanum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/iranyekanweblight(fanum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/iranyekanweblight(fanum).ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/eot/iranyekanwebregular(fanum).eot');
	src: url('../fonts/eot/iranyekanwebregular(fanum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/iranyekanwebregular(fanum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/iranyekanwebregular(fanum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/iranyekanwebregular(fanum).ttf') format('truetype');
}



* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box}
*:before,*:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box}

body,html{
    margin: 0;padding: 0;position: relative;
    background-color: black;
    color: #fff;font-family: iranyekan;

}

body{
    width: 100vw;height: 100vh;
}


.module{float: left;}



.md_clock{
    width: 300px;height: 300px;;
}


/*-------------------------------------------*/
/*  article positon  */
/*-------------------------------------------*/
body > .art{position: absolute;}

.art.top_left{top:10px;left: 10px;}
.art.top_center{top:10px;left: 50%;transform: translateX(-50%);}
.art.top_right{top:10px;right: 10px;}


.art.bottom_left{bottom:10px;right: 10px;}
.art.bottom_center{bottom:10px;left: 50%;transform: translateX(-50%);}
.art.bottom_right{bottom:10px;left: 10px;}






