windows/node_modules


# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

application/*~
application/*.sw[mnpcod]
application/*.log
application/*.tmp
application/*.tmp.*
application/log.txt
application/*.sublime-project
application/*.sublime-workspace
application/.vscode/
application/npm-debug.log*

application/.idea/
application/.sourcemaps/
application/.sass-cache/
application/.tmp/
application/.versions/
application/coverage/
application/dist/
application/node_modules/
application/tmp/
application/temp/
application/hooks/
application/platforms/
application/plugins/
application/plugins/android.json
application/plugins/ios.json
application/www/
application/$RECYCLE.BIN/

application/.DS_Store
application/Thumbs.db
application/UserInterfaceState.xcuserstate
