<ion-header>
  <ion-navbar>
    <ion-title>Smart Gadget</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>Connet your divice or gadget to Smart Mirror to cntroll it from SmartMirror Platform</p>
  <div *ngIf="devices.length >= 1">
    <span *ngFor="let device of devices" class="animated slideInDown">
      <ion-card>
        <ion-card-header>
          <span style="float: left;width: 60px;height: 60px;margin: 0 10px 0 0;" class="icon" [innerHtml]="device.icon | keepHtml"></span>
          <h4 style="font-size: 1.7em;margin: .7em 0;font-weight: bold;"> {{device.displayName}} </h4>
        </ion-card-header>
        <ion-card-content>
          <div *ngFor="let inOut of device.in_out">
            <span *ngIf="inOut.inputType == 'text';else inputTypeToggle">
              <b>{{inOut.label}}</b> {{inOut.msg}}
            </span>
            <ng-template #inputTypeToggle>
              <b>{{inOut.label}}</b> {{inOut.msg}}
              <ion-toggle (ionChange)="button_toggleChange(inOut)" data-in="inOut" [checked]="inOut.msg == '1'"></ion-toggle>
              <!-- <b>{{inOut.label}}</b> {{inOut.msg}}
                              <ion-toggle [(ngModel)]="mushrooms"></ion-toggle> -->
            </ng-template>
          </div>
        </ion-card-content>
      </ion-card>
      {{qtd|json}}
    </span>
  </div>
  <!--if_condition-->
</ion-content>
